<style type="text/css"> .cncl{height: 200px ; width: 400px; padding: 30px;}
</style><center>
<div style="background-color:orange;text-align:center" class="cncl">
<p><h1>Transaction is Cancelled</h1></p>
<p style="border:1px solid black">Dear Customer Your transaction is being cancelled due to insufficient balance or technical difficulties with PayPal credit card processor. Please check for balance.</p>
<p><b> To continue shopping 
<a href="http://localhost:3000"> Click Here</a></p></div></center>