<head>
 <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0;url=http://example.com">
        <script type="text/javascript">
            window.location.href = "http://localhost:3000"
        </script>

</head>

<style type="text/css">.tnku{height:200px;width: 200px; background-color: yellow } </style><center>
<div class="tnku"><br><br>
<h1>THANK YOU For Shopping</h1>
If you are not redirected automatically, follow the <a href='http://localhost:3000'>link</a>
</div></center>

<%= link_to 'Back', products_path %>